.NavBar {
  display: flex;
  justify-content: space-around;
  margin: 4em;
  background-color: yellow;
}

.uname {
  font-size: 2em;
  background-color: lightcoral;
  display: inline-block;
}

.cname {
  font-size: 2em;
  background-color: lightblue;
  display: inline-block;
}

.rscore {
  font-size: 2em;
  background-color: greenyellow;
  display: inline-block;
}

.submitRegister {
  font-size: 2em;
  background-color: grey;
  display: inline-block;
}

.submitLogin {
  font-size: 2em;
  background-color: grey;
  display: inline-block;
}

.submitLogout {
  font-size: 2em;
  background-color: darkgrey;
  display: inline-block;
}

.submitNewcat {
  font-size: 2em;
  background-color: darkgrey;
  display: inline-block;
}

.submitUpdatecat {
  font-size: 2em;
  background-color: darkgrey;
  display: inline-block;
}

.submitNewreview {
  font-size: 2em;
  background-color: darkgrey;
  display: inline-block;
}

.submitUpdatereview {
  font-size: 2em;
  background-color: darkgrey;
  display: inline-block;
}