.NavBar {
  display: flex;
  justify-content: space-around;
  margin: 4em;
  background-color: yellow;
}

.uname {
  font-size: 2em;
  background-color: lightcoral;
  display: inline-block;
}

.cname {
  font-size: 2em;
  background-color: lightblue;
  display: inline-block;
}